.todo-app{
    display: block;
    max-height: 600px;
    max-width: 600px;
    background: white;
    color:dimgrey;
    border-width: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 0% 10% 10% 30%;
}
.todo{

}
.todo-incomplete{
    background: rgb(221, 255, 0);
    text-decoration:none;
}
.todo-complete{
    background: rgb(0, 255, 94);
    text-decoration:line-through;
}
@media screen and (max-width: 768px) {
.todo-app{
    display: block;
    max-height: fit-content;
    max-width: 600px;
    background: white;
    color:dimgrey;
    border-width: 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 0% 10% 10% 10%;
}
}